<ul class="tree">
    <li *ngFor="let tree of trees;"> 
        <span (click)="onToggleTreeView(tree)">
            <i *ngIf="tree.expand" class="fa fa-caret-down"></i>
            <i *ngIf="!tree.expand" class="fa fa-caret-right"></i>
            {{ tree.title }}
        </span>
        <app-tree-view *ngIf="tree.expand" [trees]="tree['children']" [parent]="tree['id']"></app-tree-view>
    </li>
</ul>