<div class="row">
    <div class="col-md-6 col-sm-6">
        <app-tree-view [trees]="trees"></app-tree-view>
    </div>
    <div class="col-md-6 col-sm-6">
        <br/>
        <div *ngIf="editForm.id">
            <div class="btn btn-sm btn-secondary"
                *ngIf="!!editForm.id"
                (click)="onDeleteNodeTree()"
            >Del <i class="fa fa-trash"></i></div> 
            <div class="btn btn-sm btn-default" (click)="onCancel()">
                Clear
            </div>
            <hr>
            <div>
                <form (ngSubmit)="onPutNodeTree()">
                    <div class="form-group">
                        <input type="text" 
                            class="form-controller"
                            name="title" 
                            [(ngModel)]="editForm.title" 
                            required />
                    </div>
                    <input type="submit" value="Update" class="btn btn-sm btn-primary" /> &nbsp;
                </form>
                <br>
            </div>
            <hr>
            <div>
                <form (ngSubmit)="onPostNodeTree(editForm.id)">
                    <div class="form-group">
                        <input type="text" 
                            class="form-controller"
                            name="title" 
                            [(ngModel)]="newForm.title" 
                            required />
                    </div>
                    <input type="submit" value="Add Child" class="btn btn-sm btn-primary" />
                </form>    
            </div>
            <hr>    
        </div>
        <div *ngIf="!editForm.id">
            <form (ngSubmit)="onPostNodeTree()">
                <div class="form-group">
                    <input type="text" 
                        class="form-controller"
                        name="title" 
                        [(ngModel)]="newForm.title" 
                        required />
                </div>
                <input type="submit" value="Add New" class="btn btn-sm btn-primary" />
            </form>    
        </div>
    </div>
</div>